# Ignore object files
*.o
*.d
*.a
*~
linkmap
*.bin
*.fdd
*.hdd
*.hdd.*
*.vfd
*.lst
tasks/task?
tasks/cat
tasks/pwd
tasks/ls
tasks/edit
tasks/sh
tasks/rm
tasks/cp
tasks/editd
tasks/test
.settings/
.project*
.cproject*
binutils/
newlib/
myos.iso

